address: ":8080"
debug: true

database:
  driver: postgres
  name: onepaas
  username: onepaas
  password: onepaas
  host: localhost
  port: 5432

oidc:
  client_id: "onepaas"
  client_secret: "onepaas-secret"
  issuer: http://127.0.0.1:5556/dex
